repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: name-tests-test
        args: ['--pytest-test-first']
  - repo: https://github.com/opensource-nepal/commitlint
    rev: v1.13.3
    hooks:
      - id: commitlint
